body {
    background-color: green;
    color: white;
    font-size: 20px;
    font-family: "Times New Roman";
    text-align: center;
}


.line {
    width: 300px;
    height: 2px;
    background-color: white;
    margin: 10px auto 30px;
}

ol {
    list-style-position: inside;
    display: inline-block;
    text-align: left;
}
